@charset "UTF-8";
.body-wraper {
  width: 100%;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 6px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}
.header .vl {
  border-left: 1px solid #1e1e1e;
  height: 24px;
  display: none;
}

.header__nav-menu {
  display: flex;
  align-items: center;
  gap: 51px;
  order: 3;
}

.profile__cart__container {
  display: flex;
  gap: 48px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  display: block;
}

.header__burger-btn {
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 22;
  cursor: pointer;
}
.header__burger-btn::before {
  content: "";
  width: 270px;
  position: fixed;
  background-color: white;
  height: 60px;
  top: 0;
  right: -270px;
  transition: transform 0.5s, visibility 0.5s;
  visibility: hidden;
}

.header__burger-btn span {
  display: block;
  position: absolute;
  height: 3px;
  left: 5px;
  background-color: black;
  transition: background-color 0.3s, opacity 0.3s, transform 0.5s, width 0.5s;
  will-change: transform;
}

.header.open .header__burger-btn::before {
  visibility: visible;
  transform: translateX(-100%);
}

.header__burger-btn:hover span {
  background-color: rgb(103, 103, 103);
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
  width: 30px;
}

.header__burger-btn span:nth-child(2) {
  width: 20px;
  left: 15px;
}

.header__burger-btn span:nth-child(3) {
  width: 10px;
  left: 25px;
  transform: translateY(10px);
}

/* Крестик */
.header.open .header__burger-btn span {
  background-color: black;
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  width: 30px;
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateX(-20px) rotate(-45deg);
  width: 30px;
}

.item_spec {
  display: none;
}

.menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 48px;
}

.menu__link {
  text-decoration: none;
  font-size: 16px;
  transition: font-size 0.5s, color 0.5s;
  color: black;
}
.menu__link:hover {
  font-size: 18px;
  color: #c1dcdc;
  transition: font-size 0.5s, color 0.5s;
}
.menu__link:active {
  text-decoration: none;
}

@media (max-width: 992px) {
  .header__burger-btn {
    display: block;
    order: 3;
  }
  .menu {
    overflow: auto;
    z-index: 11;
    box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
    position: fixed;
    right: -270px;
    top: 0;
    height: 100%;
    width: 270px;
    padding: 75px 20px 20px 20px;
    background-color: white;
    visibility: hidden;
    transition: transform 0.5s, visibility 0.5s, widht 0.5s;
    will-change: transform;
  }
  .menu__list {
    display: block;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
  .menu__item {
    margin: 0 0 30px 10px;
  }
  .header.open .menu {
    transform: translateX(-100%);
    visibility: visible;
  }
  .item_spec {
    display: block;
  }
  .header.open .blur {
    top: 0;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    height: 100em;
    width: 100em;
    z-index: 10;
    position: fixed;
    transition: all 0.5s ease-in-out;
    will-change: transform;
  }
  body.noscroll {
    overflow: hidden;
  }
  .header .vl {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .profile__cart__container {
    display: none;
  }
  .header .vl {
    display: none;
  }
}/*# sourceMappingURL=header.css.map */